 @font-face {
                                font-family: Ostrovsky; 
                                font-display: swap; 
                                src: url("../fonts/Ostrovsky-Bold_0.woff") format("woff"), url("../fonts/Ostrovsky-Bold_0.woff2") format("woff2"); 
                                font-weight: 400; 
                                font-style: normal;
                            }
@font-face {
                                font-family: GhastlyPanicCyr; 
                                font-display: swap; 
                                src: url("../fonts/GhastlyPanicCyr.woff") format("woff"), url("../fonts/GhastlyPanicCyr.woff2") format("woff2"); 
                                font-weight: 400; 
                                font-style: normal;
                            }
@font-face {
                                font-family: Roboto; 
                                font-display: swap; 
                                src: url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2"); 
                                font-weight: 400; 
                                font-style: normal;
                            }
@font-face {
                                font-family: Archangelsk; 
                                font-display: swap; 
                                src: url("../fonts/Archangelsk.woff") format("woff"), url("../fonts/Archangelsk.woff2") format("woff2"); 
                                font-weight: 400; 
                                font-style: normal;
                            }
